@font-face {
    font-family: 'Momo';
    src: url('/fonts/MomoTrustSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Momo';
    src: url('/fonts/MomoTrustSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 300; /* or light */
    font-style: normal;
}
@font-face {
    font-family: 'Momo';
    src: url('/fonts/MomoTrustSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 500; /* or medium */
    font-style: normal;
}
@font-face {
    font-family: 'Momo';
    src: url('/fonts/MomoTrustSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 600; /* or semi-bold */
    font-style: normal;
}

:root{
    font-family: "Momo";
    font-weight:350;

    --blue:#4156c3;
    --lightblue:#c2c6ff;
    --darkblue:#60627e;
    --white:#f0f0f4;
    --gutter:3rem;

}

body{
    color:var(--blue);
    background:white;
    
}
hgroup{
    background: linear-gradient(to bottom,var(--lightblue),var(--darkblue));
    font-weight:300;
    font-size:2rem;
    padding:5rem;
    color:var(--white);
    text-align:center;

}
h1{
    text-transform:lowercase;
    font-size:3rem;
    font-weight:500;
}
h1 span{
    font-weight:400;
    font-size: 4rem;
}
hgroup p{
    text-transform:lowercase;
    font-size:2rem;
    font-weight:500;

}
hgroup p span{
    font-weight:300;
    font-size: 4rem;
}
.list-sec{
    padding:3rem;
    font-size:1.5rem;
}
.list-sec p{
    margin-block-end:1rem;
    text-align:center;
}
ul{

    padding-inline:var(--gutter);
    display:flex;
    flex-direction:column;
    text-align:center;
    /* justify-content: space-around; */
    

}
ul li{
    margin-block:.5rem;
    font-size:1.2rem;
    color:var(--blue);
}
a:hover{
    color:var(--lightblue);
}
footer{
    background: var(--darkblue);
    padding:3rem;
}
footer section{
    margin-block-start:2rem;
}
footer p{
    text-align:center;
    font-size: 1.2rem;
    color:var(--white);
}
footer ul{
    flex-direction:row;
    justify-content: space-around;
}
footer ul li{
    margin-block:.5rem;
    font-size:1rem;
    color:var(--white);
}
footer a:hover{
    color:var(--lightblue);
}
em{
    font-style:italic;
}